*.log

/Applications
/Desktop
/Documents
/Downloads
/Downloads2
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/bin
/dircolors-solarized
/go
/nimsuggest.lo
/node_modules
/.CFUserTextEncoding
/.DS_Store
/.Trash
/.atom
/.babel.json
/.bash_history
/.bash_sessions
/.bundle
/.cache
/.choosenim
/.config
/.dircolors-solarized
/.dropbox
/.gem
/.go
/.local
/.nimble
/.node-gyp
/.node_repl_history
/.npm
/.nvm
/.sh_history
/.ssh
/.v8flags.6.0.286.52.0d1ebe7b4c000af7cf18f848ad0a5f69.json
/.v8flags.6.1.534.42.0d1ebe7b4c000af7cf18f848ad0a5f69.json
/.v8flags.6.1.534.47.0d1ebe7b4c000af7cf18f848ad0a5f69.json
/.vendor
/.vim
/.viminfo
/.vue-templates
/.yarn
/.yarnrc
